/* CSS stylesheet */

/* General Styling */

html,
body {
  height: 100%;
  width: 100%;
}

/* General Typography */

h1 {
	font-family: 'Overpass', sans-serif;
	font-weight: 100;
	font-size: 3em;
}

h2 {
	font-family: 'Overpass', sans-serif;
	font-weight: 200;
	font-size: 2em;
}

h3 {
	font-family: 'Overpass', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
}

p {
	font-family: 'Overpass', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.75em;
}

a {
	color: #de603b;
  text-decoration: none !important;
}

a:visited {
	color: #de603b;
  text-decoration: none;
}

a:hover {
	color: #455464;
  text-decoration: none;
}

a:active {
	color: #455464;
  text-decoration: none;
}

/* Top Navigation Bar */

.navbar,
.navbar-collapse {
  background-color: #de603b !important;
  border-bottom: none !important;
  margin-bottom: 0;
}

.navbar-brand {
	font-size: 1.25em;
  color: #e3e3e3 !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e3e3e3 !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: inherit !important;
}

nav li a {
	font-size: 1.25em;
  color: #e3e3e3 !important;
}

nav li a:hover {
  color: #666 !important;
}

/* Backgrounds and Font Colors */

.section {
	padding: 15px;
}

.section1 {
	background-color: #f0f0f0;
	color: #222;
}

.section2 {
  background-color: #fff;
  color: #222;
}

footer {
	background-color: #455464;
	color: #fff;
}

/* List */

.tech-stack {
	font-size: 1.25em;
	line-height: 1.75em;
}

/* Screenshots */

.picture-box {
	padding: 20px;
}

.screenshot {
	display: block;
	border-radius: 8px;
	margin: auto;
}

/* Footer */

footer {
	height: 100px;
	padding: 12px 0;
}

.copyright {
  margin-top: 15px;
}

.copyright p {
	color: color: #222;
	font-weight: 300;
	line-height: 1.25em;
}

/* Media Queries */

@media (max-width: 768px) {
	.copyright {
	  margin-left: 15px;
	}
}
